html
    head
        title CSV REPORT GENERATOR
    body
        h3 CSV REPORT GENERATOR
        form(action="http://localhost:3000/", method='POST', id="form")
            textarea(rows="4" cols="50" name="text" form="form" placeholder="Enter your text here...")
            //- label(for="files" Upload your file here )
            //-  br
            //- input(type="file" name="datafile" size="40")
            br
            input(type='submit', value='Submit')


            pre !{data}

            h5 Click the Download link below to download the CSV file
            a(href="data:text/csv;charset=utf-8,"+ locals.data download="Sales Report.csv") Download




