html
    head
        title CSV REPORT GENERATOR
    body
        h3 CSV REPORT GENERATOR
        form(action="http://localhost:3000/", method='POST', id="form")
            textarea(rows="4" cols="50" name="text" form="form" placeholder="Enter your text here...")
            //- label(for="files" Upload your file here )
            //-  br
            //- input(type="file" name="datafile" size="40")
            br
            input(type='submit', value='Submit')


            pre !{data}

            h5 Click the button to download the CSV file
            //- button(onclick="download_csv_file()"> Download CSV)
            input(type='submit', value='Download CSV', onclick='download_csv_file()')


